<div class="">
  <div style="height:100vh;">
    <div class="">
      <div class="shadow w-20 p-5 position-absolute top-50 start-50 translate-middle">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <h4 class="display-6 text-center py-2">Order Database</h4>
          <div class="">
            <label for="orderId">Order ID</label>
            <div class="">
              <input id="orderId" required #orderId="ngModel" (ngModel)="orderId" name="orderId" type="text" class="form-control" placeholder="Enter Order ID">
              <div *ngIf="orderId.invalid && orderId.touched">
                <small class="text-danger" *ngIf="orderId.errors?.['required']">Required</small>
                <small class="text-danger" *ngIf="orderId.errors?.['pattern']">Must be a valid number</small>
              </div>
            </div>
          </div><br>
          <div class="">
            <label for="customerName">Customer Name</label>
            <div class="">
              <input id="customerName" required #customerName="ngModel" (ngModel)="customerName" name="customerName" type="text" class="form-control" placeholder="Enter Customer Name">
              <div *ngIf="customerName.invalid && customerName.touched">
                <small class="text-danger" *ngIf="customerName.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          <div class="">
            <label for="product">Product</label>
            <div class="">
              <input id="product" required #product="ngModel" (ngModel)="product" name="product" type="text" class="form-control" placeholder="Enter Product">
              <div *ngIf="product.invalid && product.touched">
                <small class="text-danger" *ngIf="product.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          <div class="">
            <label for="quantity">Quantity</label>
            <div class="">
              <input id="quantity" required #quantity="ngModel" (ngModel)="quantity" name="quantity" type="text" class="form-control" placeholder="Enter Quantity">
              <div *ngIf="quantity.invalid && quantity.touched">
                <small class="text-danger" *ngIf="quantity.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div><br>
  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Customer Name</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderDetails">
          <td>{{order.orderId}}</td>
          <td>{{order.customerName}}</td>
          <td>{{order.product}}</td>
          <td>{{order.quantity}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(order)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteOrder(order)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Order</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateOrder()">
            <h4 class="display-6 text-center py-2">Order Database</h4>
            <div class="">
              <label for="orderId">Order ID</label>
              <div class="">
                <input id="orderId" required #orderId="ngModel" [(ngModel)]="orderToUpdate.orderId" name="orderId" type="text" class="form-control" placeholder="Enter Order ID">
                <div *ngIf="orderId.invalid && orderId.touched">
                  <small class="text-danger" *ngIf="orderId.errors?.['required']">Required</small>
                  <small class="text-danger" *ngIf="orderId.errors?.['pattern']">Must be a valid number</small>
                </div>
              </div>
            </div><br>
            <div class="">
              <label for="customerName">Customer Name</label>
              <div class="">
                <input id="customerName" required #customerName="ngModel" [(ngModel)]="orderToUpdate.customerName" name="customerName" type="text" class="form-control" placeholder="Enter Customer Name">
                <div *ngIf="customerName.invalid && customerName.touched">
                  <small class="text-danger" *ngIf="customerName.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            <div class="">
              <label for="product">Product</label>
              <div class="">
                <input id="product" required #product="ngModel" [(ngModel)]="orderToUpdate.product" name="product" type="text" class="form-control" placeholder="Enter Product">
                <div *ngIf="product.invalid && product.touched">
                  <small class="text-danger" *ngIf="product.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            <div class="">
              <label for="quantity">Quantity</label>
              <div class="">
                <input id="quantity" required #quantity="ngModel" [(ngModel)]="orderToUpdate.quantity" name="quantity" type="text" class="form-control" placeholder="Enter Quantity">
                <div *ngIf="quantity.invalid && quantity.touched">
                  <small class="text-danger" *ngIf="quantity.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            <div class="form-group text-center">
              <input class="btn btn-primary" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
